.root {
  width: 300px;

  .image {
    border-radius: 10px;
    border: 4px solid #2196F3;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 200px;

    &:hover {
      cursor: pointer;
    }
  }
}